.eslintignore
.eslintrc.js

.gitignore

.prettierignore
.prettierrc.js

yarn.lock
yarn-error.log
package-lock.json

commitlint.config.js

jsdoc.config.json

.stylelintignore
.stylelintrc.js

.babel.config.js
jest.config.js

.husky/
coverage/
dist/
doc/
node_modules/